:root {
    --primary-color: hsl(231, 90%, 60%);
    --secondary-color: hsl(187, 100%, 89%);
    --dark-primary:  rgba(32, 32, 132, 0.85);
    --spacing: 16px
}


@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


body {
max-width:900px;
margin:0 auto;
}
.tile {
    height:400px;
    margin-top:40px;
    background:grey;
    -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
    transform: translateY(50px) rotate(-5deg) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.bottom-right.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
section {
    padding:20px;
}



body {
    color: black;
    background: 
        linear-gradient(90deg,
        hsla(240, 94%, 6%, 0.20)),
        linear-gradient(
        90deg,
        var(--primary-color),
        var(--secondary-color)
        );
    margin: 0 auto;
    box-sizing: border-box;
}

.hero-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px 8px;
}

.hero-nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    color: azure;;
}


.title, .title-sub, .bttn {
    word-spacing: 1.8rem;
    letter-spacing: 0.01rem;

}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

.title-sub {
    font-size: 1.8rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgba(250, 235, 215, 0.944);
}

.hero {
    background-color: var(--primary-color);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    transition: transform 0.3s ease, background-color 0.3s
    

}

.hero:hover {
    background-color: rgba(0, 0, 0, 0);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    transform: scale(1.2)
}


.bttn, .questions {
    font-size: 1.2rem;
    background-color :var(--secondary-color);
    color: var(--dark-primary);
    word-spacing: 0.4rem;
    padding: 6px 6px;
    margin: 10px 20px;
    /* margin-inline-start: 200px; have button centered */ 
    margin-block-start: 35px;
    border-radius: 5px;
    border: 4px var(--secondary-color) solid;
    transition: transform 0.3s ease, background-color 0.3s
}

.bttn:hover, .questions:hover {
    background-color: var(--primary-color);
    border: 4px var(--primary-color) solid;
    color: aliceblue;
    cursor: pointer;
    transform: translateY(-10px);
}


.questions {
    border: 2px;
}

.questions:hover {
    transform: translateY(-5px);
    border: 2px;

}

.questions {
    font-size: 1.2rem;
    background-color :var(--secondary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    background-color: rgba(250, 235, 215, 0.444);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.questions > textarea {
    background-color: rgba(215, 217, 250, 0.444);
   

}

.part  {
    background-color:  rgba(32, 32, 132, 0.269);
    border: 1px azure solid;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 40px auto;
}

.part-text {
    font-size: 1.8rem;
    word-spacing: 0.8;
    letter-spacing: 2px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgba(250, 235, 215, 0.944);

}

footer {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    text-align: right;
    font-size: 1.8rem;
    word-spacing: 0.8;
    letter-spacing: 2px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--secondary-color);
}